div[class^="col"],
div[class*=" col"] {
  border: 0.5px solid black;
}

.container {
  min-width: 100%;
  .row {
    max-width: 100%;

    input,
    select,
    span {
      font-size: 100%;
      width: max-content;
    }

    .first-col {
      max-width: 200px;
      min-width: 200px;
    }
    .mid-col {
      min-width: 100px;
      max-width: 100%;
    }
    .last-col {
      max-width: 300px;
      min-width: 300px;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
